<div class="modal fade" id="loginRequired" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Save Route</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h4>To continue, you need to sign in</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="loginThenSave()">Sign in with Facebook</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>