<tr>
    <td colspan="2" scope="col" style="vertical-align:middle">
        <div id='map' style='width: 1120px; height: 500px;'></div>
    </td>
</tr>

<tr>
    <td style="vertical-align: middle">
        <h4><strong>Route summary:</strong></h4>
        <h4>{{ distance|distance }} km // Approx. {{ duration|duration }} mins.</h4>
    </td>

    <td style="vertical-align: middle"><p><span class="badge badge-pill badge-warning">Disclaimer</span> Routes are generated automatically and may include private or unsuitable roads/locations.
        <br>Please check before setting off, and always observe signage and pay attention when cycling.</p>
    </td>
</tr>