{% extends 'base.html' %}

{% block content %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>

    <div class="container">
        <h1>My Routes</h1>
        <p>Routes you created yourself (user ID: {{ current_user.id }})</p>

        {% if own_routes|length==0 %}
            <h4>You haven't got any routes saved! Why not <a href="{{ url_for('start_page') }}">create one now</a>?</h4>
        {% else %}
            {% with routes=own_routes %}
                {% include '_routetable.html' %}
            {% endwith %}
        {% endif %}

        <br>

        <h1>Public Routes</h1>
        <p>For now, shows all routes for all RideTime users (contents of 'route' table in DB)</p>

        {% with routes=all_routes %}
            {% include '_routetable.html' %}
        {% endwith %}

    </div>

{% endblock %}