{% extends 'base.html' %}

{% block content %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
    </ol>

    <div class="container">
        <h1>My Routes</h1>
        <p>Routes you created yourself</p>

        {% if own_routes|length==0 %}
            <h4>You haven't got any routes saved! Why not <a href="{{ url_for('start_page') }}">create one now</a>?</h4>
        {% else %}
            {% with routes=own_routes %}
                {% include '_routetable.html' %}
            {% endwith %}
        {% endif %}

        <br>

        <h1>Public Routes</h1>
        <p>Routes shared by other RideTime users</p>

        {% if all_routes|length==0 %}
            <h4>There aren't any shared routes yet! Why not get your friends to sign up and start sharing.</h4>
        {% else %}
            {% with routes=all_routes %}
                {% include '_routetable.html' %}
            {% endwith %}
        {% endif %}

    </div>

{% endblock %}