{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <table class="table">
            <tr>
                <td style="vertical-align: middle">
                    <button class="btn btn-warning" role="button" onclick="regenerateRoute()">Generate New Route</button>
                </td>

                <td style="text-align: right; vertical-align: middle">
                    <button class="btn btn-primary" role="button" onclick="saveRoute()">Save Route</button>
                </td>
            </tr>

            {% include '_routedisplay.html' %}

            <tr>
                <td colspan="2" scope="col" style="vertical-align:middle">
                    <p>Found {{ num_pubs_found }} pubs near this route.</p>
                    <p>{{ instructions }}</p>
                </td>
            </tr>

        </table>
    </div>

    {% include '_mapbox.html' %}

    <script>
        function regenerateRoute() {
            console.log("User requested randomised route");
        }

        function saveRoute() {
            console.log("User requested to save route");
        }
    </script>

{% endblock %}