{% extends 'base.html' %}

{% block headline %}
    {{ "Let's plan a new route." }}
{% endblock %}

{% block subhead %}
    {{ "Check the location below, then set your route preferences." }}
{% endblock %}


{% block content %}

    <div class="container">
        <div id='map' style='width: 500px; height: 300px;'></div>

        <p>Wrong location? <a href={{ url_for('index') }}>Start search again.</a></p>

        <p>Looks good? Let's continue</p>
    </div>

    <script>
        console.log("Using coordinates {{ start[0] }}, {{ start[1] }}")

        mapboxgl.accessToken = '{{ mapbox_key }}';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/outdoors-v11',
            center: [{{ start[0] }}, {{ start[1] }}], // Center map using start coords
            zoom: 10
        });
        map.on('load', function() {
            const geojsonData = { // Pass a single pair of coordinates to show 1 point on the map
                "type": "FeatureCollection",
                "features": [{
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [{{ start[0] }}, {{ start[1] }}]
                    }
                }]
            };

            const geojsonCollection = { // Pass a bunch of coordinates to have multiple points on the map
                "type": "FeatureCollection",
                "features": [
                    {
                        "type": "Feature",
                        "geometry": {
                            "type": "Point",
                            "coordinates": [{{ start[0] }}, {{ start[1] }}] // Start coords passed from backend
                        },
                        "properties": {}
                    },
                    {
                        "type": "Feature",
                        "geometry": {
                            "type": "Point",
                            "coordinates": [-1.930556, 53.450556] // Some location near Manchester
                        },
                        "properties": {}
                    },
                    {
                        "type": "Feature",
                        "geometry": {
                            "type": "Point",
                            "coordinates": [-1.826111, 51.178889] // Stonehenge
                        },
                        "properties": {}
                    }
                ]
            };

            map.addLayer({
                "id": "points",
                "type": "circle",
                "source": {
                    "type": "geojson",
                    "data": geojsonCollection
                },
                "paint": {
                    "circle-radius": 5,
                    "circle-color": "#ECCB2F",
                    "circle-stroke-width": 1,
                    "circle-stroke-color": "black"
                }
            })
        })
    </script>

{% endblock %}