{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <table class="table">
            <tr>
                <td style="vertical-align: middle">
                    <h2>{{ route_title|routetitle }}</h2>
                </td>

                <td style="text-align: right; vertical-align: middle">
                    <button class="btn btn-primary" role="button" onclick="saveRoute()">Save Route</button>
                </td>
            </tr>

            {% include '_routedisplay.html' %}

            <tr>
                <td colspan="2" scope="col" style="vertical-align:middle">
                    <button class="btn btn-warning" role="button" onclick="regenerateRoute()">Regenerate Route</button>
                    <p>Found {{ num_pubs_found }} pubs near this route.</p>
                    <p>{{ instructions }}</p>
                </td>
            </tr>

        </table>
    </div>

    {% include '_mapbox.html' %}

    <script>
        function regenerateRoute() {
            console.log("User requested randomised route");
        }

        function saveRoute() {
            {% if current_user.is_authenticated %}
            window.location = '{{ url_for('save_route') }}'
            {% else %}
            console.log("Must log in before saving route.");
            {% endif %}
        }
    </script>

{% endblock %}