{% extends 'base.html' %}

{% block headline %}
    {{ "Get excited about cycling again." }}
{% endblock %}

{% block subhead %}
    {{ "Find new routes, explore new places." }}
{% endblock %}


{% block content %}

    <div class="container">
        <h1>Where are you starting from?</h1>
            <h2>Search using a UK postcode/place name</h2>
                <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                    <p>
{#                        {{ form.location.label }}<br>#}
                        {{ form.location(size=32) }}
                        {% for error in form.location.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.submit() }}
                    </p>
                </form>
            <br>
            <h2>Or start from one of the following</h2>
                <p><a href="/create?long=-1.930556&lat=52.45055610">University of Birmingham Campus</a></p>
                <p><a href="/create?long=-0.075278&lat=51.505556">Tower Bridge, London</a></p>
                <p><a href="/create?long=-1.826111&lat=51.178889">Stonehenge, Wiltshire</a></p>

    </div>

{% endblock %}