{% extends 'base.html' %}

{% block headline %}
    {{ "Create a New Route" }}
{% endblock %}

{% block subhead %}
    {{ "Where do you want to start?" }}
{% endblock %}


{% block content %}

    <div class="container">

        <form action="" method="post" novalidate>
            {{ location_input.hidden_tag() }}
            <p>
                {{ location_input.location.label }}:
                {{ location_input.location(size=32) }}
                {% for error in location_input.location.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ location_input.submit() }}
            </p>
        </form>

        <div id='map' style='width: 800px; height: 500px;'></div>
        <br>


        <div id="distanceConfig">

            <div class="row">
                <div class="col-5">
                    <form>
                        <label for="distanceRange" id="distanceInput"></label>
                        <input type="range" min="5" max="100" step="5" value="20" class="form-control-range" id="distanceRange">
                    </form>
                </div>

                <div class="col">
                    <button class="btn btn-warning" role="button" onclick="resetCoords()">Reset map</button>
                </div>

                <div class="col">
                    <button class="btn btn-success" role="button" onclick="proceed()">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const startCoords = [{{ start[0] }}, {{ start[1] }}]; // Coordinates from location search

        mapboxgl.accessToken = '{{ mapbox_key }}';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/outdoors-v11',
            center: startCoords, // Center map using start coords
            zoom: 16
        });

        let marker = new mapboxgl.Marker({
            draggable: true
        })
            .setLngLat(startCoords)
            .addTo(map);

        function onDragEnd() {
            var lngLat = marker.getLngLat();
            console.log(lngLat);
        }

        marker.on('dragend', onDragEnd);

        function resetCoords() {
            marker.setLngLat(startCoords);
            map.flyTo({
                center: startCoords
            });
        }

        var slider = document.getElementById("distanceRange");
        var output = document.getElementById("distanceInput");
        output.innerHTML = "Preferred distance: <strong>" + slider.value + " km</strong>";

        slider.oninput = function() {
            output.innerHTML = "Preferred distance: <strong>" + slider.value + " km</strong>";
        }

        function proceed() {
            window.location = '/route?dist=' + slider.value;
        }

    </script>

{% endblock %}