{% extends 'base.html' %}

{% block headline %}
    {{ "Saved Routes" }}
{% endblock %}

{% block subhead %}
    {{ "Access your saved RideTime routes" }}
{% endblock %}


{% block content %}

    <div class="container">
        <br>
        <p><a href="{{ url_for('saved') }}">My Routes</a> -> {{ route.title }}</p>
        <h1>{{ route.title }}</h1>
        <p>Created {{ route.timestamp|timeago }}</p>

        <table class="table">
            {% include '_routedisplay.html' %}
        </table>
    </div>

    {% include '_mapbox.html' %}

{% endblock %}